* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General Appearence */

body {
	background: url(../images/fondo3.jpg);
	background-size: cover; 
	background-repeat: no-repeat;
}

.titulo {
	display: flex;
	justify-content: center; 
}

.titulo h1 {
	font-size: 32px; 
	font-family: "Roboto"; 
	font-weight: 400;
	color: white;
	margin: 0px;
	margin-top: 45px;
}

.row.custom {
	background: #00BCD4;
	height: 74px;
	margin-top: 0px;
}

.custom h2 {
	font-size: 16px; 
	font-family: "Roboto";
	font-weight: 500px; 
	color: #FFFFFF;
	display: inline;
	position: relative;
	top: 25px;
	left: 56px;
	margin: 0;
}

.custom img {
	width: 18px;
	height: auto;
	position: relative;
	top: 25px;
	left: 16px;
}

.form {
	width: 480px;
	height: 500px;
	background-color: white; 
	margin-top: 55px;
	box-shadow: 0px 15px 25px rgba(0,0,0,0.24), 2px 15px 30px rgba(0,0,0,0.18); 
	border-radius: 2px;
}

.form:hover {
  	box-shadow: 0 15px 35px rgba(0,0,0,0.40), 0 15px 45px rgba(0,0,0,0.28), 0 15px 55px rgba(0,0,0,0.15);
  	border: 1px grey solid;
  	border-radius: 2px;
}

.unicornio {
	display: flex;
	justify-content: center; 
}


.modified {
	display: flex;
	justify-content: center; 
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.row.modified2 {
    height: 78px;
    display: flex;
    justify-content: center; 
    padding-top: 13px;
}

.myClass {
  width: 228px;
  margin-left: 76px;
  height: 65px;
  padding-top: 36px;
}

.check p {
  width: 330px;
  margin-top: 44px;
  margin-bottom: 0px;

}

.check p label.align {
  padding-left: 65px;
}

div.select-wrapper {
  height: 45px;
  position: absolute;
  top: 20px;
}

.scale {
  display: flex;
  justify-content: space-between;
}

.scale label {
  font-size: 8px;
  margin: 0;
  padding: 0; 
}


/* Inputs style */

input[type=text]:not(.browser-default) {
	margin: 0;
  padding: 0;
	width: 330px;
	font-size: 16px;
	font-family: "roboto";
	font-weight: 400;
	border-bottom: 1px solid #DBDBDB;
  height: 30px;
  margin-top: 35px;
}

input[type=email]:not(.browser-default) {
  margin: 0;
  padding: 0;
  width: 330px;
  font-size: 16px;
  font-family: "roboto";
  font-weight: 400;
  border-bottom: 1px solid #DBDBDB;
  height: 78px;
  height: 30px;
  margin-top: 35px;
}

.input-field {
	width: 330px;
	margin: 0;
	padding: 0;
  height: 65px;
}

.input-field label.label {
	width: 330px;
	height: 65px;
	font-size: 16px;
	font-family: "Roboto"; 
  position: absolute;
  top: 25px;
}

.input-field label.label.active {
	height: 57.5px;
	position: absolute;
	bottom: 0;
	transform: translateY(-6px) scale(0.75);
	color: #AAAAAA; 
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  opacity: 0.1;
  pointer-events: none;
  height: 20px;
  width: 20px;
}

[type="checkbox"].filled-in:checked+label:after {
	border-color: #80DEEA;
	background-color: #80DEEA; 
	

}

[type="checkbox"].filled-in:not(:checked)+label:after {
   
    border: 2px solid #DBDBDB;
   
}


input[type=text].select-dropdown {
  height: 30px;
  color: #AAAAAA;
  margin: 0;
  margin-top: 18px;
}

input[type=range] {
	height: 20px;
	margin: 0px;
	border: 0px;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]+.thumb {
  display: none;
}

    .line {
        display: block;
        height: 4px;
        border: 0;
        position: relative;
        top: 12px;
        width: 114px;
        background: #80DEEA;
        z-index: 1;  
    }


input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #DBDBDB;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #80DEEA;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  margin: -5px 0 0 0;
  -webkit-transition: .3s;
  transition: .3s;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #DBDBDB;
}

input[type=range] {
  border: 1px solid white;
}

input[type=range]::-moz-range-track {
  height: 3px;
  background: #DBDBDB;
  border: none;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #80DEEA;
  margin-top: -5px;
}

input[type=range]:-moz-focusring {
  outline: 1px solid #fff;
  outline-offset: -1px;
}


input[type=range]::-ms-track {
  height: 3px;
  background: #DBDBDB;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #80DEEA;
}

input[type=range]::-ms-fill-upper {
  background: #DBDBDB;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #80DEEA;
}

input[type=range]:focus::-ms-fill-lower {
  background: #80DEEA;
}

input[type=range]:focus::-ms-fill-upper {
  background: #DBDBDB;
}


input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #AAAAAA;
  height: 65px;
}


input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #DBDBDB;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

/* button styling */

.btn.myBtn {
	background-color: #00ACC1; 
  margin-bottom: 23px;
  width: 154px;
  padding: 0px;
  margin-top: 18px;
}

/* Dropdowns menus inside form */ 

.dropdown-content li>a, .dropdown-content li>span { 
  color: black;
  background-color: #EEEEEE; 
  font-size: 15px; 
  font-family: "roboto"; 
}

.select-dropdown li.disabled>span {
  background-color: #EEEEEE;
  color: #AAAAAA;
}

label.selection {
  display: none;
  font-size: 12px; 
  top: 5px;9c
} 

/* error divs style */

div.errors p {
  color: #F44336;
  opacity: 1;
  display: none;
  font-family: "Roboto";
  z-index: 1;
  position: absolute;
  top: 70px;
  font-size: 12px;
}

div.show p {
  color: #F44336;
  opacity: 1;
  display: none;
  font-family: "Roboto";
  z-index: 1;
  position: absolute;
  top: 70px;
  font-size: 12px;
}

div.error3 p {
  color: #F44336;
  opacity: 1;
  display: none;
  font-family: "Roboto";
  z-index: 1;
  position: absolute;
  top: 70px;
  font-size: 12px;
}

.row .checked {
  height: 15px;
}

.row .checked p {
  color: #F44336;
  opacity: 1;
  display: none;
  font-family: "Roboto";
  z-index: 1;
  position: relative;
  top: 0px;
  font-size: 12px;
  left: 75px;
}

.material-icons {
  font-size: 18px; 
  color: red;
}

.icon {
  text-align: right; 
  display: none;
  margin-top: 2px;
  color: red;
}

#emptyMail {
  display: none;
  color: red;
  text-align: left; 
  z-index: 1;
  font-family: 'roboto'; 
  font-size: 12px; 
}

.select-wrapper span.caret {
  position: absolute;
  top: 30px;
  color: #AAAAAA;
}

/* Hamburguer Menu dropdown styling */

div#menu-dropdown {
  position: absolute;
  display: none;
}

div#menu-dropdown ul {
  background-color: rgba(211,211,211,0.3);
  color: #ffffff;
  width: 300px;
  box-shadow: 0px 5px 8px rgba(0,0,0,0.24), 0 5px 8px rgba(0,0,0,0.18); 
  border-radius: 5px;
}

div#menu-dropdown ul:hover {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.24), 0 5px 15px rgba(0,0,0,0.18); 

}

div#menu-dropdown ul li {
  height: 50px;
  text-align: center; 
  font-family: "roboto"; 
  padding-top: 14px;
  font-size: 16px;
  font-weight: 500; 
}

div#menu-dropdown ul li:hover {
  height: 50px;
  text-align: center; 
  font-family: "roboto"; 
  padding-top: 14px;
  font-size: 18px; 
  box-shadow: 0px 1px 8px rgba(0,0,0,0.18), 0 1px 10px rgba(0,0,0,0.15); 
  border-radius: 5px;
}

/* Medias-queries */

/*Mobile*/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

              body {
                    background: linear-gradient(to right, #ea7598, #4370b7);
              }

              .row.custom {
                background: rgba(255, 255, 255, 0.3);
                height: 60px;
                margin-top: 0px;
                border-bottom-right-radius: 2px; 
                border-bottom-left-radius: 2px; 

              }

              .custom img {
                top: 22px;
              }

              .custom h2 {
                top: 22px;
                
              }

              div#menu-dropdown ul {
                background-color: rgba(238, 238, 238, 1);
                opacity: 1; 
                color: #ffffff;
                width: 150px;
                border-radius: 0px;
              }

              div#menu-dropdown ul li {
                height: 40px;
                color: #939393;
              }
              div.col.s12.titulo { 
                width: 100%;
                margin-top: 0px;
                height: 80px; 
                background-color: #80DEEA;  
              }

              .titulo h1 { 
                font-size: 16px;
                color: white; 
                margin-top: 32px;
              }

              .form {
                margin-top: 0;
                width: 100%; 
                box-shadow: 0px 0px 0px, 0px 0px 0px; 
              }

              .form:hover {
                box-shadow: 0px 0px 0px, 0px 0px 0px; 
                border: 0;
              }

              input[type=text]:not(.browser-default) {
                width: 280px; 
              }

              input[type=email]:not(.browser-default) {
                width: 280px;
                          
              }

              .input-field {
                width: 280px;
             
              }

              .input-field label.label {
                width: 280px;
                z-index: 0; 
               
              }

              .row.horn {
                display: flex;
                justify-content: center; 
              }

              .myClass {
                width: 228px;
                margin: 0px;
              }

              .check p {
                width: 280px; 

              }

              .checked {
                display: flex;
                justify-content: center; 
              }

              p#checkbox-error {
                width: 280px; 
                position: relative;
                top: 0px;
                left: 0px;
                font-size: 12px;
                margin: 0px;
               }

              .row .col.s12 {
                margin: 0;
                left: 0;
                right: 0; 
              }

              .row .col {
                padding: 0;
              }

              .btn.myBtn {
                  background-color: #795bcc; 
                  width: 280px;
                  height: 50px;
                  padding-top: 8px;
                  margin-top: 15px; 
                }     

}
/* Tablets */

/* Portrait and Landscape */
@media (min-width:600px) 
and (max-width: 1240px)

{
              
              div#menu-dropdown ul {
                background-color: rgba(238, 238, 238, 1);
                opacity: 1; 
                color: #ffffff;
                width: 300px;
                border-radius-bottom-right: 5px;
                border-radius-bottom-left: 5px;
              }

              div#menu-dropdown ul li {
                height: 40px;
                color: #939393;
              }


}
